@import "./iconfont/iconfont.css";

@font-face {
  font-family: test;
  src: url("font/字心坊猫的天空之城.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: test;
  color: #fff;
}

body{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
  pointer-events: none;
}

.bg-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 1s ease;
}
.bg-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-focus::before{
  background-color: rgba(0, 0, 0, 0.2);
}


/*设置相关*/
.settings{
  position: absolute;
  top: 40px;
  right: 20px;
}
#set-photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}



/*输入框容器*/
.search{
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-search{
  text-align: center;
  padding-left: 70px;
  margin-bottom: 15px;
}
.change-search i{
  cursor: pointer;
  font-size: 24px;
  margin: 5px 10px;
}
#change-baidu{
  color: #3245DF;
}
#change-google{
  color: #85FFBD;
}
#change-youdao{
  color: #FF0000;
}
#change-csdn{
  color: #d81e06;
}
#change-juejin{
  color: #006CFF;
}
#change-bilibili{
  color: #20B0E3;
}
#change-youtube{
  color: #FF0000;
}
#change-github{
  color: #555555;
}
#change-gitee{
  color: #C71D23;
}
#change-stackoverflow{
  color: #FF810F;
}
#change-zhihu{
  color: #49C0FB;
}


.search-input{
  width: 400px;
  height: 60px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #96e6a1;
  border-radius: 15px;
  padding: 10px 50px 10px 30px;
  transition: all 1s ease;
}

.search-input:focus{
  outline: 0;
  width: 800px;
}
.search i{
  position: relative;
  color: #fff;
  font-size: 30px;
  left: -50px;
  cursor: pointer;
}

/*备忘录容器*/
.memorandum-container{
  margin-top: 30px;
  width: 1200px;
  height: 600px;
  display: flex;
  border: 5px solid #96e6a1;
  border-radius: 10px;
}
.memorandum-container section{
  flex: 1;
  border: 0;
}


/*备忘录列表信息*/
.memorandum-list{
  padding: 40px 30px;
  overflow-y: auto;
}
.memorandum-list div{
  position: relative;
  padding: 0 30px;
  margin-bottom: 20px;
  display: flex;
  transition: transform 2s ease;
}
.memorandum-list div:hover{
  transform: scale(1.1);
}
.memorandum-list div:hover i{
  opacity: 1;
}

.memorandum-list div::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 0 2px #96e6a1;
}
.memorandum-list div::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  pointer-events: none;
}

.memorandum-list div i{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #96e6a1;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease;
}
.memorandum-list div i:hover{
  color: red;
}


/* 写备忘录信息 */
.add-memorandum{
  position: relative;
}
.add-memorandum::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 5px;
  height: 80%;
  background-color: #96e6a1;
  border-radius: 2px;
  transform: translateY(-50%);
}
.add-memorandum textarea{
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  background-color: transparent;
  border: 0;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.add-memorandum textarea:focus{
  outline: 0;
}



/* 滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #96e6a1;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent );
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(227,227,227,0.5);
}
